body {
    font-family: "Poppins", sans-serif;
}


/* CABEÇALHO */

header {
text-align: center;
padding: 15px;
font-weight: 600;
background: #ffffff;
box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25);
}

/* MAIN - PARTE PRINCIPAL */

main {
margin: 0 5vw;
}

/* FILTROS */

.filtersContainer {
align-items: center;
padding: 15px 0;
}

.botoesContainer {
display: flex;
overflow-x: scroll;
padding-bottom: 10px;
margin-bottom: 10px;
}

.estiloGeralBotoes {
border: 1.5px solid rgba(18, 184, 134, 0.05);
background: rgba(18, 184, 134, 0.05);
border-radius: 8px;
padding: 0px 26px;
width: 140px;
height: 40px;
cursor: pointer;
font-weight: 500;
color: #12b886;
font-size: 14px;
margin-right: 10px;
}
.todosbotoes{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.estiloGeralBotoes--filter:hover {
background-color: #12b886;
color: #ffffff;
transition: ease-in-out 0.2s;
}

.botoesClickStyle {
background-color: #12b886;
color: #ffffff;
}

.containerBuscaPorNome {
display: flex;

}

.campoBuscaPorNome {
border: none;
padding: 0 10px;
margin-right: 5px;
background: #f1f3f5;
border-radius: 8px;
width: 250px;
color: #515252;
font-weight: 400;
}

.estiloGeralBotoes--botaoBuscaPorNome {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 15px;
gap: 10px;
background: #12b886;
border: 1.5px solid #12b886;
border-radius: 8px;
max-width: 52px;
max-height: 40px;
}

/*CONTAINER VITRINE*/

.containerVitrine {
 width: 100%;
border-radius: 50px 0;
gap: 25px;
}

/* CONTAINER DE PRODUTOS */

.containerListaProdutos {
width: 100%;
}

.containerListaProdutos ul {
display: flex;
flex-direction: row;
gap: 30px;
overflow-x: scroll;
list-style: none;
width: 100vw;
}

.containerListaProdutos ul li {
border-radius: 8px;
transition: ease-in-out 0.1s;
margin-bottom: 20px;
width: 180px;
}

.containerListaProdutos ul li:hover {
box-shadow: 3px 3px 13px 1px rgb(146 146 146);
}

.containerListaProdutos ul li img {
width: 180px;
}

.containerListaProdutos ul li h3 {
font-size: 1rem;
font-weight: 500;
margin: 10px 0 15px;
color: #212529;
}

.containerListaProdutos ul li p {
font-size: 0.7rem;
color: #868e96;
font-weight: 400;
margin: 10px 0;
}
.containerListaProdutos ul li span {
font-size: 0.8rem;
font-weight: 500;
margin-top: 10px;
display: inline-block;
color: #212529;
}
.containerListaProdutos ul li ol {
display: none;
list-style: decimal;
color: #868e96;
font-size: 12px;
margin-left: 15px;
}
.containerListaProdutos ul li ol li {
margin: 0;
width: 100%;
}
.containerListaProdutos ul li button {
background-color: #12b8860d;
border-radius: 8px;
border: #12b8860d 1px solid;
color: #12b886;
padding: 5px;
transition: 0.5s;
}
.containerListaProdutos ul li button:hover {
background-color: #12b886;
border: #12b886 1px solid;
color: white;
}
.containerListaProdutos ul li div {
display: flex;
justify-content: space-between;
padding: 5px;
}
.cart{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #12b886;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 50px;
    gap: 8px;
}
.cart div{
    display:inline-block;
    color: #fff;
    margin: 10px;
}
#img{
 height: 60px;
}
.cart-itens{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
    overflow-y: scroll;
}
.cart-itens div{
    width: 100%;
}

.img-bag{
    display: none;
    height: 60px;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #868e96;
}
.minicard{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
}
.imgminicard img{
 width: 85px;
 height: 70px;
 border-radius: 5px;

}
.rotulos{ 
display: flex;
width: 120px;
height: 80px;
line-height: 25px;
flex-wrap: wrap;
flex-direction: column;
margin-left: 5px;
}
.categoria{
    color: #868e96
}
.rodape-carrinho{
    background-color: #F8F9FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    
}
.imgtrash{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgtrash img{
    height: 13px;
}
.total-carrinho{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 95%;
 height: 50px;
 padding: 5px;
}
.back-ground-rodape{
    background-color: #F8F9FA;
    width: 100%;
}
@media (min-width:982px){
    .containerVitrine{
        display: flex;
        justify-content: space-evenly;
    }.containerListaProdutos ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 30px;
    }
    .containerListaProdutos ul li {
        border-radius: 8px;
        transition: ease-in-out 0.1s;
        width: calc(95% / 4);
        margin-bottom: 30px;
        
    } main {
        margin: 0 70px;
    }.filtersContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        overflow: hidden;
    } .containerBuscaPorNome {
        display: flex;
        justify-content: space-between;
    } .containerListaProdutos ul li ol {
        display: block;
    } .containerListaProdutos ul li {
    width: 15vw;
    } .containerListaProdutos ul li img {
    width: 100%;
    }.campoBuscaPorNome {
        margin-left: 30px;
    }.cart-itens{
    width: 263px;
    height: 50vh;
    }
    .cart{
      width: 263px;  
    }.rodape-carrinho{
        width: 270px;
        height: 60px;
    }.total-carrinho{
    width: 255px;
    }.back-ground-rodape{
        width: 263px;
    }
}  